body{
    background-color: #FFF9F4;
}

.title-color{
    color: #FA804C;
}
.btn-color{
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}
.bg-shoe-color{
    background-color:#F1F1F1;
}